examples/flows.json
[{"id":"30e2a557.11c8fa","type":"tab","label":"List","disabled":false,"info":""},{"id":"2c4e61f8.7fa14e","type":"tab","label":"Action Inspect","disabled":false,"info":""},{"id":"bc635cab.6a09d","type":"tab","label":"Events","disabled":false,"info":""},{"id":"6f250d7d.f92b84","type":"tab","label":"Container Actions","disabled":false,"info":""},{"id":"49886661.38cda8","type":"tab","label":"Image Actions","disabled":false,"info":""},{"id":"636535a8.0b3b9c","type":"tab","label":"Service Actions","disabled":false,"info":""},{"id":"ba1fa15.d0ffa6","type":"tab","label":"Task Actions","disabled":false,"info":""},{"id":"873fccf9.b9f54","type":"tab","label":"Node Actions","disabled":false,"info":""},{"id":"970da91d.a3a7a8","type":"tab","label":"Secret Actions","disabled":false,"info":""},{"id":"f47b225e.85ceb","type":"tab","label":"Network Actions","disabled":false,"info":""},{"id":"b94f799a.9fef68","type":"tab","label":"Volume Actions","disabled":false,"info":""},{"id":"913a0952.76d548","type":"tab","label":"Plugin Action","disabled":false,"info":""},{"id":"789ca14c.874fe","type":"docker-configuration","z":"","host":"/var/run/docker.sock","port":""},{"id":"30d46297.30cefe","type":"debug","z":"30e2a557.11c8fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":400,"wires":[]},{"id":"84b666c4.8a2fd8","type":"docker-secrets","z":"30e2a557.11c8fa","name":"","config":"789ca14c.874fe","x":480,"y":520,"wires":[["30d46297.30cefe"]]},{"id":"f0b68932.58f9e8","type":"docker-volumes","z":"30e2a557.11c8fa","name":"","config":"789ca14c.874fe","x":480,"y":580,"wires":[["30d46297.30cefe"]]},{"id":"d703e731.486808","type":"docker-plugins","z":"30e2a557.11c8fa","name":"","config":"789ca14c.874fe","x":480,"y":640,"wires":[["30d46297.30cefe"]]},{"id":"2309b83e.56d988","type":"inject","z":"30e2a557.11c8fa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":640,"wires":[["d703e731.486808"]]},{"id":"163ca0ac.4f1cbf","type":"inject","z":"30e2a557.11c8fa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":520,"wires":[["84b666c4.8a2fd8"]]},{"id":"a195e180.a8cfa","type":"inject","z":"30e2a557.11c8fa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":460,"wires":[["7aa92544.b7c2fc"]]},{"id":"e8d6d08d.ab969","type":"inject","z":"30e2a557.11c8fa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":580,"wires":[["f0b68932.58f9e8"]]},{"id":"529d35eb.7bf70c","type":"docker-nodes","z":"30e2a557.11c8fa","name":"","config":"789ca14c.874fe","x":470,"y":400,"wires":[["30d46297.30cefe"]]},{"id":"d5d5e1c8.69158","type":"docker-tasks","z":"30e2a557.11c8fa","name":"","config":"789ca14c.874fe","x":470,"y":340,"wires":[["30d46297.30cefe"]]},{"id":"5fd6bae4.05f754","type":"docker-services","z":"30e2a557.11c8fa","name":"","config":"789ca14c.874fe","x":480,"y":280,"wires":[["30d46297.30cefe"]]},{"id":"ad8a94b.2fb9268","type":"docker-containers","z":"30e2a557.11c8fa","name":"","config":"789ca14c.874fe","x":490,"y":220,"wires":[["30d46297.30cefe"]]},{"id":"66341f67.50435","type":"docker-images","z":"30e2a557.11c8fa","name":"","config":"789ca14c.874fe","x":480,"y":160,"wires":[["30d46297.30cefe"]]},{"id":"b9c3164b.b25508","type":"inject","z":"30e2a557.11c8fa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":400,"wires":[["529d35eb.7bf70c"]]},{"id":"5830e11c.dff72","type":"inject","z":"30e2a557.11c8fa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":280,"wires":[["5fd6bae4.05f754"]]},{"id":"345fedac.247432","type":"inject","z":"30e2a557.11c8fa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":220,"wires":[["ad8a94b.2fb9268"]]},{"id":"1a4945cc.f551fa","type":"inject","z":"30e2a557.11c8fa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":340,"wires":[["d5d5e1c8.69158"]]},{"id":"d41c87be.bfcee8","type":"inject","z":"30e2a557.11c8fa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":160,"wires":[["66341f67.50435"]]},{"id":"7aa92544.b7c2fc","type":"docker-networks","z":"30e2a557.11c8fa","name":"","config":"789ca14c.874fe","x":480,"y":460,"wires":[["30d46297.30cefe"]]},{"id":"f5f23376.19d42","type":"docker-network-actions","z":"2c4e61f8.7fa14e","name":"","config":"789ca14c.874fe","network":"docker-Traefik_private","action":"","x":600,"y":480,"wires":[["fe027d79.b1ae5"]]},{"id":"ee4949ad.63e9c8","type":"docker-volume-actions","z":"2c4e61f8.7fa14e","name":"","config":"789ca14c.874fe","volume":"896bbbffe6e824882e95270f8caad2aba25a67df76ccec42c837355985edfdff","action":"","x":600,"y":540,"wires":[["fe027d79.b1ae5"]]},{"id":"1e0cf6f2.869b79","type":"docker-secret-actions","z":"2c4e61f8.7fa14e","name":"","config":"789ca14c.874fe","secret":"basic-auth-user","action":"inspect","x":600,"y":420,"wires":[["fe027d79.b1ae5"]]},{"id":"27ebd8db.654b68","type":"docker-image-actions","z":"2c4e61f8.7fa14e","name":"","config":"789ca14c.874fe","image":"sha256:ed82e641b0d524c305ddc77a8d458c1f1e9197b895555dc89941ae807f7eed4c","action":"","x":590,"y":120,"wires":[["fe027d79.b1ae5"]]},{"id":"fe027d79.b1ae5","type":"debug","z":"2c4e61f8.7fa14e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":120,"wires":[]},{"id":"6c92b5dd.d259ac","type":"change","z":"2c4e61f8.7fa14e","name":"","rules":[{"t":"move","p":"payload.action","pt":"msg","to":"action","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":120,"wires":[["27ebd8db.654b68","6bb67a98.2df094","41c0f68.eead708","ea911dad.637cb","c5926c78.5c357","1e0cf6f2.869b79","f5f23376.19d42","ee4949ad.63e9c8","493fedf0.d14764"]]},{"id":"2cfdabf6.6645f4","type":"inject","z":"2c4e61f8.7fa14e","name":"","topic":"","payload":"{\"action\":\"inspect\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["6c92b5dd.d259ac"]]},{"id":"723208fd.3f2a28","type":"docker-events","z":"bc635cab.6a09d","name":"","config":"789ca14c.874fe","x":220,"y":140,"wires":[["10034a13.fde4b6"]]},{"id":"10034a13.fde4b6","type":"debug","z":"bc635cab.6a09d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":380,"y":140,"wires":[]},{"id":"493fedf0.d14764","type":"docker-plugin-actions","z":"2c4e61f8.7fa14e","name":"","config":"789ca14c.874fe","plugin":"docker.io/vieux/sshfs:latest","action":"","x":590,"y":600,"wires":[["fe027d79.b1ae5"]]},{"id":"c5926c78.5c357","type":"docker-node-actions","z":"2c4e61f8.7fa14e","name":"","config":"789ca14c.874fe","node":"docker-desktop","action":"","x":590,"y":360,"wires":[["fe027d79.b1ae5"]]},{"id":"ea911dad.637cb","type":"docker-task-actions","z":"2c4e61f8.7fa14e","name":"","config":"789ca14c.874fe","task":"r1qhhym0s5gzqf5uwtijmhf73","action":"","x":590,"y":300,"wires":[["fe027d79.b1ae5"]]},{"id":"41c0f68.eead708","type":"docker-service-actions","z":"2c4e61f8.7fa14e","name":"","config":"789ca14c.874fe","service":"docker-Traefik_whoami","action":"","x":600,"y":240,"wires":[["fe027d79.b1ae5"]]},{"id":"f4c18bb.918cc78","type":"docker-image-actions","z":"49886661.38cda8","name":"","config":"789ca14c.874fe","image":"sha256:ed82e641b0d524c305ddc77a8d458c1f1e9197b895555dc89941ae807f7eed4c","action":"","x":610,"y":40,"wires":[["ba46b4d.2c9f048"]]},{"id":"ba46b4d.2c9f048","type":"debug","z":"49886661.38cda8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":40,"wires":[]},{"id":"8c3fd148.02a79","type":"change","z":"49886661.38cda8","name":"","rules":[{"t":"move","p":"payload.action","pt":"msg","to":"action","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":40,"wires":[["f4c18bb.918cc78"]]},{"id":"bffdd600.eef378","type":"inject","z":"49886661.38cda8","name":"","topic":"","payload":"{\"action\":\"history\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":40,"wires":[["8c3fd148.02a79"]]},{"id":"c64020dc.bf9ab","type":"inject","z":"49886661.38cda8","name":"","topic":"","payload":"{\"action\":\"tag\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["8c3fd148.02a79"]]},{"id":"da289ce.7769e6","type":"docker-container-actions","z":"6f250d7d.f92b84","name":"","config":"789ca14c.874fe","container":"docker-Traefik_traefik.1.ifkm9pi1004lwrojz075i1ygu","action":"","cmd":"","x":630,"y":80,"wires":[["7f849cff.3d1294"]]},{"id":"538a7ca.0d25a84","type":"inject","z":"6f250d7d.f92b84","name":"","topic":"","payload":"{\"action\":\"inspect\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["794ea30a.f7dc5c"]]},{"id":"7f849cff.3d1294","type":"debug","z":"6f250d7d.f92b84","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":80,"wires":[]},{"id":"794ea30a.f7dc5c","type":"change","z":"6f250d7d.f92b84","name":"","rules":[{"t":"move","p":"payload.action","pt":"msg","to":"action","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":80,"wires":[["da289ce.7769e6"]]},{"id":"16e75790.fbe098","type":"inject","z":"6f250d7d.f92b84","name":"","topic":"","payload":"{\"action\":\"stop\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":200,"wires":[["794ea30a.f7dc5c"]]},{"id":"50fccb82.4eb7e4","type":"docker-service-actions","z":"636535a8.0b3b9c","name":"","config":"789ca14c.874fe","service":"docker-Traefik_whoami","action":"","x":580,"y":60,"wires":[["d783ba3b.488fe8"]]},{"id":"d78f9d0b.94362","type":"inject","z":"636535a8.0b3b9c","name":"","topic":"","payload":"{\"action\":\"inspect\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":60,"wires":[["b55c823f.737d1"]]},{"id":"b55c823f.737d1","type":"change","z":"636535a8.0b3b9c","name":"","rules":[{"t":"move","p":"payload.action","pt":"msg","to":"action","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":60,"wires":[["50fccb82.4eb7e4"]]},{"id":"7d53ec3f.8430a4","type":"inject","z":"636535a8.0b3b9c","name":"","topic":"","payload":"{\"action\":\"logs\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["b55c823f.737d1"]]},{"id":"56234ae4.4730e4","type":"inject","z":"636535a8.0b3b9c","name":"","topic":"","payload":"{\"action\":\"remove\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["b55c823f.737d1"]]},{"id":"b6bab857.4596a8","type":"inject","z":"6f250d7d.f92b84","name":"","topic":"","payload":"{\"action\":\"start\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":140,"wires":[["794ea30a.f7dc5c"]]},{"id":"6bb67a98.2df094","type":"docker-container-actions","z":"2c4e61f8.7fa14e","name":"","config":"789ca14c.874fe","container":"nodered_nodered_1","action":"","cmd":"","x":610,"y":180,"wires":[["fe027d79.b1ae5"]]},{"id":"d783ba3b.488fe8","type":"debug","z":"636535a8.0b3b9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":900,"y":60,"wires":[]},{"id":"2d204398.19272c","type":"docker-task-actions","z":"ba1fa15.d0ffa6","name":"","config":"789ca14c.874fe","task":"ayczjadojmq9ddnwihkapbyu4","action":"","x":600,"y":80,"wires":[["41973181.46586"]]},{"id":"14a642de.dcb2ad","type":"inject","z":"ba1fa15.d0ffa6","name":"","topic":"","payload":"{\"action\":\"inspect\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["b7f3d9ed.313e88"]]},{"id":"b7f3d9ed.313e88","type":"change","z":"ba1fa15.d0ffa6","name":"","rules":[{"t":"move","p":"payload.action","pt":"msg","to":"action","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":80,"wires":[["2d204398.19272c"]]},{"id":"41973181.46586","type":"debug","z":"ba1fa15.d0ffa6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":80,"wires":[]},{"id":"d326f1b7.f7c55","type":"inject","z":"873fccf9.b9f54","name":"","topic":"","payload":"{\"action\":\"inspect\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":40,"wires":[["c7409940.432e18"]]},{"id":"c7409940.432e18","type":"change","z":"873fccf9.b9f54","name":"","rules":[{"t":"move","p":"payload.action","pt":"msg","to":"action","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":40,"wires":[["a886ea87.f59a18"]]},{"id":"e1970dec.01472","type":"debug","z":"873fccf9.b9f54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":40,"wires":[]},{"id":"a886ea87.f59a18","type":"docker-node-actions","z":"873fccf9.b9f54","name":"","config":"789ca14c.874fe","node":"docker-desktop","action":"","x":610,"y":40,"wires":[["e1970dec.01472"]]},{"id":"497a0f95.d9d6e","type":"inject","z":"970da91d.a3a7a8","name":"","topic":"","payload":"{\"action\":\"inspect\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":40,"wires":[["6f67a463.46900c"]]},{"id":"6f67a463.46900c","type":"change","z":"970da91d.a3a7a8","name":"","rules":[{"t":"move","p":"payload.action","pt":"msg","to":"action","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":40,"wires":[["4eaf3a7b.b530a4"]]},{"id":"90d7276e.0467e8","type":"debug","z":"970da91d.a3a7a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":40,"wires":[]},{"id":"4eaf3a7b.b530a4","type":"docker-secret-actions","z":"970da91d.a3a7a8","name":"","config":"789ca14c.874fe","secret":"basic-auth-user","action":"","x":600,"y":40,"wires":[["90d7276e.0467e8"]]},{"id":"8623cd71.8cd59","type":"inject","z":"f47b225e.85ceb","name":"","topic":"","payload":"{\"action\":\"inspect\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":40,"wires":[["b4bf5d0b.5ce3e"]]},{"id":"b4bf5d0b.5ce3e","type":"change","z":"f47b225e.85ceb","name":"","rules":[{"t":"move","p":"payload.action","pt":"msg","to":"action","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":40,"wires":[["f8e8bf6a.d58c2"]]},{"id":"cac309f0.f43ec8","type":"debug","z":"f47b225e.85ceb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":40,"wires":[]},{"id":"f8e8bf6a.d58c2","type":"docker-network-actions","z":"f47b225e.85ceb","name":"","config":"789ca14c.874fe","network":"docker-Traefik_private","action":"","x":600,"y":40,"wires":[["cac309f0.f43ec8"]]},{"id":"6537538f.3adb8c","type":"inject","z":"b94f799a.9fef68","name":"","topic":"","payload":"{\"action\":\"inspect\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":40,"wires":[["a2ad97e4.c280d8"]]},{"id":"a2ad97e4.c280d8","type":"change","z":"b94f799a.9fef68","name":"","rules":[{"t":"move","p":"payload.action","pt":"msg","to":"action","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":40,"wires":[["294232b5.bb9e0e"]]},{"id":"be34e8f3.9e6a08","type":"debug","z":"b94f799a.9fef68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":40,"wires":[]},{"id":"294232b5.bb9e0e","type":"docker-volume-actions","z":"b94f799a.9fef68","name":"","config":"789ca14c.874fe","volume":"docker_mailconfig","action":"","x":600,"y":40,"wires":[["be34e8f3.9e6a08"]]},{"id":"116d78d0.7651b7","type":"docker-plugin-actions","z":"913a0952.76d548","name":"","config":"789ca14c.874fe","plugin":"docker.io/vieux/sshfs:latest","action":"","x":610,"y":40,"wires":[["9ae2cbd1.faded8"]]},{"id":"cbd4ec33.3a2b5","type":"inject","z":"913a0952.76d548","name":"","topic":"","payload":"{\"action\":\"inspect\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":40,"wires":[["b9fcfe0b.69024"]]},{"id":"b9fcfe0b.69024","type":"change","z":"913a0952.76d548","name":"","rules":[{"t":"move","p":"payload.action","pt":"msg","to":"action","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":40,"wires":[["116d78d0.7651b7"]]},{"id":"9ae2cbd1.faded8","type":"debug","z":"913a0952.76d548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":40,"wires":[]}]