examples/list-flows.json
[{"id":"30e2a557.11c8fa","type":"tab","label":"List","disabled":false,"info":""},{"id":"30d46297.30cefe","type":"debug","z":"30e2a557.11c8fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":400,"wires":[]},{"id":"84b666c4.8a2fd8","type":"docker-secrets","z":"30e2a557.11c8fa","name":"","config":"789ca14c.874fe","x":480,"y":520,"wires":[["30d46297.30cefe"]]},{"id":"f0b68932.58f9e8","type":"docker-volumes","z":"30e2a557.11c8fa","name":"","config":"789ca14c.874fe","x":480,"y":580,"wires":[["30d46297.30cefe"]]},{"id":"d703e731.486808","type":"docker-plugins","z":"30e2a557.11c8fa","name":"","config":"789ca14c.874fe","x":480,"y":640,"wires":[["30d46297.30cefe"]]},{"id":"2309b83e.56d988","type":"inject","z":"30e2a557.11c8fa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":640,"wires":[["d703e731.486808"]]},{"id":"163ca0ac.4f1cbf","type":"inject","z":"30e2a557.11c8fa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":520,"wires":[["84b666c4.8a2fd8"]]},{"id":"a195e180.a8cfa","type":"inject","z":"30e2a557.11c8fa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":460,"wires":[["7aa92544.b7c2fc"]]},{"id":"e8d6d08d.ab969","type":"inject","z":"30e2a557.11c8fa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":580,"wires":[["f0b68932.58f9e8"]]},{"id":"529d35eb.7bf70c","type":"docker-nodes","z":"30e2a557.11c8fa","name":"","config":"789ca14c.874fe","x":470,"y":400,"wires":[["30d46297.30cefe"]]},{"id":"d5d5e1c8.69158","type":"docker-tasks","z":"30e2a557.11c8fa","name":"","config":"789ca14c.874fe","x":470,"y":340,"wires":[["30d46297.30cefe"]]},{"id":"5fd6bae4.05f754","type":"docker-services","z":"30e2a557.11c8fa","name":"","config":"789ca14c.874fe","x":480,"y":280,"wires":[["30d46297.30cefe"]]},{"id":"ad8a94b.2fb9268","type":"docker-containers","z":"30e2a557.11c8fa","name":"","config":"789ca14c.874fe","x":490,"y":220,"wires":[["30d46297.30cefe"]]},{"id":"66341f67.50435","type":"docker-images","z":"30e2a557.11c8fa","name":"","config":"789ca14c.874fe","x":480,"y":160,"wires":[["30d46297.30cefe"]]},{"id":"b9c3164b.b25508","type":"inject","z":"30e2a557.11c8fa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":400,"wires":[["529d35eb.7bf70c"]]},{"id":"5830e11c.dff72","type":"inject","z":"30e2a557.11c8fa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":280,"wires":[["5fd6bae4.05f754"]]},{"id":"345fedac.247432","type":"inject","z":"30e2a557.11c8fa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":220,"wires":[["ad8a94b.2fb9268"]]},{"id":"1a4945cc.f551fa","type":"inject","z":"30e2a557.11c8fa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":340,"wires":[["d5d5e1c8.69158"]]},{"id":"d41c87be.bfcee8","type":"inject","z":"30e2a557.11c8fa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":160,"wires":[["66341f67.50435"]]},{"id":"7aa92544.b7c2fc","type":"docker-networks","z":"30e2a557.11c8fa","name":"","config":"789ca14c.874fe","x":480,"y":460,"wires":[["30d46297.30cefe"]]},{"id":"789ca14c.874fe","type":"docker-configuration","z":"","host":"/var/run/docker.sock","port":""}]